<ul>
  <li
      class="dude"
      *ngFor="let dude of characters"
  >

    <a class="ctrl" (click)="remove(dude)">x</a>

    <article>
      {{dude.who}}

      <small *ngIf="dude.who.split(' ').length < 3">
        <strong>- lol, short name</strong>
      </small>
      <br />
      <small >
        {{dude.wat}}
      </small>

    </article>

    <input class="ctrl" type="number" [value]="dude.cool"/>

  </li>
</ul>


<form class="add-new" (keydown.enter)="addDude($event)">
  <input
    type="text"
    [value]="newWho"
    (input)="newWho = $event.target.value"
  />
  <input
    type="text"
    [value]="newWat"
    (input)="newWat = $event.target.value"
  />

</form>

<p class="preview">
  {{newWho}}<br />
  {{newWat}}
</p>
